body {
  font-size: 35pt;   
}

p { font-size: 1em; }

span { font-size: 1em; }

h1 { font-size: 1em; line-height: 105%; }

button { font-size: 1em; }

li { font-size: 1em; line-height: 100%; }

ol, ul {
  margin-left: 80px; 
}

.actionButtonDiv p { 
  font-size: 1em; 
}

.actionButtonDiv p.lcc_actionBtnFirstPara {
  font-size: 1em;
}

.navButton, .navButtonInactive {
  font-size: 1em;
  width: 19%;
  height: 80px; 
  padding: 5px 5px 10px 0px;  
  margin-left: 10px;
  line-height: 90%;
}

.navPositionBtn {
  font-size: 1em; 
  width: 100px; 
  height: 100px;
  padding-left: 0px; 
  padding-top: 0px; 
}

.styleSizeBtn {
  height: 60px;
}

.ballot_box { 
  font-weight: bold;
  font-size: 1em;   
  width: 70px;
  height: 70px; 
  border: 4px solid #444;
}

.candidate_name { 
  font-size: 1em; 
  font-weight: bold;
  white-space: nowrap;
  width: 620px;
}

.candidate_party { font-size: 1em; width: 620px; }

.candidate_region { font-size: 1em; }

.candidate_group_ballot h1 { font-size: 1em; }

.candidate_group_ballot h3 { font-size: 1em; }

.group_ballot h1 { font-size: 1em; }

.group_candidate_name { 
  font-size: 1em; 
  font-weight: bold;
  width: 830px;
}

.confirm button { font-size: 1em; }

.confirm p {
  font-size: 1em;
  font-weight: bold;
}

#scrolling_content {
  height: 100%;
  float: left; 
  width: 100%; 
  padding: 0px; 
  margin: 0px; 
  z-index: 111;
}

#review_btn_correct {
  width: 520px; 
  height: 130px; 
  padding: 10px; 
  font-size: 1em;
  padding-top: 5px; 
  font-weight: bold;
}

#review_btn_help {
  width: 300px; 
  height: 80px; 
  float: none; 
  font-size: 1em !important;  
  padding-top: 5px; 
  font-weight: bold;
}

#review_btn_again {
  width: 250px; 
  height: 70px; 
  float: none; 
  font-size: 1em !important;  
  padding-top: 5px; 
  font-weight: bold;
}

#review_ballot_instruction_ok_button {
  width: 300px; 
  height: 80px; 
  float: none;
  font-size: 1em !important;
  padding-top: 15px; 
  font-weight: bold;
}

#review_btn_explain {
  width: 520px; 
  height: 130px; 
  padding: 10px; 
  font-size: 1em; 
  padding-top: 5px; 
  font-weight: bold;
}

#atl_pref_header {
  padding: 10px;
  width: 100%;
  float: right;
}

#btl_pref_header {
  padding: 10px;
  width: 100%;
  float: right;
}

/* LAYOUTS */
.ballot {
  width: 850px;
  height: 150px;
}

.btl_ballot {
  width: 850px;
  height: 220px;
}

.summary_ballot {
  width: 730px;
  height: 180px;
}

#council_ballot_summary_content_inner {
  margin-top: 80px;
  margin-bottom: 250px;
}

#council_ballot_summary_content_inner .ballot {
  width: 715px;
  height: 125px;
}

#assembly_ballot_summary_content_inner {
  margin-top: 80px;
  margin-bottom: 250px;
}

#assembly_ballot_summary_content_inner .ballot {
  width: 715px;
  height: 125px;
}

#assembly_ballot_summary_content_inner .candidate_party {

}

.group_ballot {
  width: 800px;
  height: 184px;  
  padding-right: 25px;
  padding-left: 25px; 
}

.candidate_group_ballot {
  width: 800px;
  padding-right: 25px;
  padding-left: 25px; 
}

.candidate_details { 
  width: 720px; 
}

#ballot_combined_content {
  top: 50px;
}

#btnUp {
  top:75px;
}

#ballot_groups_content_inner,
#ballot_candidates_content_inner
{

}

#ballot_groups_content,
#atl_top_div
{
  height: 200px;
}

#ballot_candidates_content
{
  top: 160px;
}

#atl_button_div, #btl_button_div {
  padding: 20px;
  height: 150px; 
  width: 900px;
}

#atl_button_title, #btl_button_title {
  font-size: 1em !important;
}

.notice_panel {
  padding: 5px 5px 5px 5px; 
  background-color: #604A7B; 
  width: 100%;
  height: 850px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.notice_panel h1 {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  line-height: 105%;
  padding-bottom: 25px;
}

.notice_panel p {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  line-height: 100%;
  padding-bottom: 10px;
}

#notice_help_panel p {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  line-height: 100%;
  padding-bottom: 10px;
}

.notice_panel button {
  font-weight: bold;
  font-size: 1em;
  height: 120px;
  padding: 5px 20px 10px 20px;
}

.notice_panel .other_help {
  font-weight: bold;
  font-size: 1em;
  line-height: 100%;
  height: 205px;
  padding: 5px 5px 5px 5px;
  width: 600px;
  margin-top: 10px;
}

#want_htvc_content {
  width: 925px;
  padding: 10px 50px 50px 50px;  
}

#incomplete_vote_content {
  width: 1125px;
  padding: 10px 50px 50px 50px;  
}

#paper_voting_content {
  width: 1150px;
  padding: 10px 100px 0px 10px;  
}

#other_help_content {
  width: 1250px;
}

#help_content {
  width: 1200px;
}

#confirm_discard_content {
  width: 1200px;
}

#error_content {
  width: 925px;
}

#timeout_content {
  width: 925px;
}

#timeout_lock_content {
  width: 1300px;
}

#timeout_unlock_content {
  width: 1225px;
}

#more_help_content {
  width: 1125px;
}

#more_help_info {
  margin-top: 25px;
}

#want_htvc_info {
  width: 550px;
}

#paper_voting_info {
  width: 900px;
}

#other_help_info {
  width: 60%;
}

#incomplete_vote_info {
  width: 60%;
  padding-left: 20px; 
  margin-left: 20px; 
  margin-top: -10px; 
  float: left; 
  font-weight: bold;
}

.help_box {
  font-size: 1em;
}

.count_notice {
  font-size: 1em;
  line-height: 100%;
}

#assembly_ballot_content_inner {
  margin-top: 80px; 
  margin-bottom: 150px;
}

#assembly_ballot_container {
  width: 900px;
  height: 600px;
}

#assembly_ballot_background {
  width: 900px;
  height: 770px;
}

#assembly_ballot_summary_background {
  width: 730px;
  height: 700px;
}

#council_ballot_summary_background {
  width: 730px;
  height: 700px;
}

#assembly_vote_not_counted, #council_vote_not_counted {
  font-size: 1em;
}

#assembly_ballot_summary_container {
  height: 570px;
}

#council_ballot_summary_container {
  height: 570px;
}

#two_ballot_layout {
    width: 1500px;
}

.language_button {
  font-size: 1em;
}

#review_left_div {
  font-size: 1em;
}

#ballot_container {
  font-size: 1em !important;  
}

.review_div_section_header {
  font-size: 1em !important;  
  width: 100%; 
  padding-top: 10px; 
  padding-bottom: 0px;
  vertical-align: bottom;
}

.review_div_section_header p {
  font-size: 1em;
}

.assembly_section_header {
  height: 220px; 
}

.atl_section_header {
  height: 300px; 
}

.btl_section_header {
  height: 300px; 
}

.review_middle_dashed {
  height: 4000px;
}

.review_middle_front {
  padding-top: 0px; 
  padding-bottom: 0px; 
  height: 1500px;
}

#assembly_not_in_order {
  font-size: 1em;
}

#atl_not_in_order {
  font-size: 1em;
}

#btl_not_in_order {
  font-size: 1em;
}

#review_right_side {
  float: left; 
  width: 840px; 
  padding-left: 10px;
}

#review_left_side {
  float: left; 
  width: 450px; 
  height: 2500px;
}

#generated_qr_code {
  height: 250px; 
  width: 450px;
}

.ballot_header_info {
  font-size: 1em !important;  
}

.review_preference_selection {
  padding: 5px; 
  font-size: 1em;
  text-align: center;
  height: 55px;
}

.review_candidate_selection {
  padding: 5px; 
  font-size: 1em;
  text-align: left;
  overflow: hidden;
  height: 55px;
}

.review_box_border {
  border: 2px solid #ccc; 
  padding: 5px; 
  width: 30px; 
}

.receipt_candidate_name {
  font-size: 1em;
  padding: 5px;
  border: 2px solid;
  text-align: left;
}

.review_div_listing_top {
  height: 100%; 
  text-align: left;  
  overflow-x: hidden;   
}

#confirmation_message_box h1 {
  font-size: 1em;
  padding-bottom: 10px;
}

.review_atl_preferences {
  width: 69px;
  float: right;
  margin-right: 10px;
}

.arrow_button {

}

.down_button {
  font-size: 1em;
  line-height: 100%;
}

.up_button {
  font-size: 1em;
  line-height: 100%;
}

#assembly_ballot_up_section {
  height: 100px;
  margin-top: -600px;
  width: 100%;
}

#assembly_ballot_down_section {
  height: 100px;
  margin-top: -100px;
  width: 100%;
}

#assembly_button_scroll_up {
  bottom: 600px;
  left: 25px;
}

#assembly_button_scroll_down {
  bottom: 200px;
  left: 25px;
}

#assembly_ballot_summary_up_section {
  height: 100px;
  margin-top: -570px;
  width: 100%;
}

#assembly_ballot_summary_down_section {
  height: 100px;
  margin-top: -100px;
  width: 100%;
}

#assembly_summary_button_scroll_up {
  bottom: 570px;
  left: 25px;
}

#assembly_summary_button_scroll_down {
  bottom: 200px;
  left: 25px;
}

#council_ballot_summary_up_section {
  height: 100px;
  margin-top: -570px;
  width: 100%;
}

#council_ballot_summary_down_section {
  height: 100px;
  margin-top: -100px;
  width: 100%;
}

#council_summary_button_scroll_up {
  bottom: 570px;
  left: 25px;
}

#council_summary_button_scroll_down {
  bottom: 200px;
  left: 25px;
}

#paper_voting_modal_no_button {
  float: left; 
  margin-left: 25px; 
  width: 250px; 
  height: 150px;
}

#paper_voting_modal_yes_button {
  float: left; 
  margin-left: 25px; 
  width: 250px; 
  height: 150px;
}

.color_change_button {
  font-size: 1em; 
  width: 500px; 
}

#color_option {
  width: 300px;
}

#black_on_white_option {
  top: 5px;  
  right: 100px;
}

#white_on_black_option {
  top: 125px;
}

#color_option {
  top: 245px;  
}

#switch_to_audio_button {
  font-size: 1em;
  width: 950px;
}

#audio_switch_button {
  top: 235px;  
  width: 400px;
}

#audio_switch_button p {
  font-size: 1em;
}

#legislative_council_title {
  margin-top: 5px;
}

#more_help_content {
  height: 1000px;
}

#start_button {
  width: 450px;
}

#assembly_instruction_title {
  width: 1200px;
}

.ballot_aggregate {
  margin-top: 45px; 
}