body {
  font-size: 28pt;   
}

p { font-size: 1em; }

span { font-size: 1em; }

h1 { font-size: 1em; line-height: 105%; }

button { font-size: 1em; }

li { font-size: 1em; }

ol, ul {
  margin-left: 60px; 
}

.actionButtonDiv p { 
  font-size: 1em;   
}

.actionButtonDiv p.lcc_actionBtnFirstPara {
  font-size: 1em;
}

.navButton, .navButtonInactive {
  font-size: 1em;
  width: 19%;
  height: 80px; 
  padding: 5px 5px 10px 0px;  
  margin-left: 10px;
  line-height: 95%;
}

.navPositionBtn {
  font-size: 1em; 
  width: 80px; 
  height: 80px;
  padding-left: 13px; 
  padding-top: 2px; 
}

.styleSizeBtn {
  height: 50px;
}

.ballot_box { 
  font-weight: bold;
  font-size: 1em;   
  width: 55px;
  height: 55px; 
  border: 3px solid #444;
  margin-top: 15px;
}

.candidate_name { 
  font-family: arial;
  font-weight: bold;
  font-size: 1em; 
  line-height: 110%;
}

.candidate_party { font-size: 1em; }

.candidate_region { font-size: 1em; }

.candidate_group_ballot h1 { font-size: 1em; }

.candidate_group_ballot h3 { font-size: 1em; }

.group_ballot h1 { font-size: 1em; }

.group_candidate_name { 
  font-size: 1em; 
  width: 730px;
}

.confirm button { font-size: 1em; }

.confirm p {
  font-size: 1em;
  font-weight: bold;
}

#scrolling_content {
  height: 100%;
  float: left; 
  width: 100%; 
  padding: 0px; 
  margin: 0px; 
  z-index: 111;
}

#review_btn_correct {
  width: 420px; 
  height: 100px; 
  padding: 20px; 
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

#review_btn_help {
  width: 260px; 
  height: 60px; 
  float: none;
  font-size: 1em !important;
  padding-top: 15px; 
  font-weight: bold;
}

#review_btn_again {
  width: 220px; 
  height: 60px; 
  float: none;
  font-size: 1em !important;
  padding-top: 15px; 
  font-weight: bold;
}

#review_ballot_instruction_ok_button {
  width: 260px; 
  height: 60px; 
  float: none;
  font-size: 1em !important;
  padding-top: 15px; 
  font-weight: bold;
}

#review_action_content {
  padding-left: 250px;
}

#review_btn_explain {
  width: 420px; 
  height: 100px; 
  padding: 20px; 
  float: none;
  font-size: 1em;
  font-weight: bold;
}

#atl_pref_header {
  padding: 10px;
  width: 100%;
  float: right;
}

#btl_pref_header {
  padding: 10px;
  width: 100%;
  float: right;
}

/* LAYOUTS */
.ballot {
  height: 80px;
  width: 750px;
}

.btl_ballot {
  height: 150px;
  width: 680px;
}

.summary_ballot {
  height: 120px;
  width: 680px;
}

#council_ballot_summary_content_inner {
  margin-top: 80px;
  margin-bottom: 80px;
}

#assembly_ballot_summary_content_inner {
  margin-top: 80px;
  margin-bottom: 80px;
}

.group_ballot {
  width: 680px;
  height: 100px;  
}

.candidate_group_ballot {
  width: 680px;
  height: 100px;  
}

.candidate_details { 
  margin-top: 15px;
  width: 600px; 
}

#ballot_combined_content {
  top: 40px;
}

#btnUp {
  top:50px;
}

#ballot_groups_content_inner,
#ballot_candidates_content_inner
{

}

#ballot_groups_content,
#atl_top_div
{
  height: 160px;
}

#ballot_candidates_content
{
  top: 140px;
}

#atl_button_div, #btl_button_div {
  padding: 20px;
  height: 150px; 
  width: 750px;
}

#atl_button_title, #btl_button_title {
  font-size: 1em !important;
}

.notice_panel {
  background-color: #604A7B; 
  width: 100%;
  height: 1000px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px; 
}

.notice_panel h1 {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  line-height: 105%;
  padding-bottom: 15px;
}

.notice_panel p {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  line-height: 105%;
  padding-bottom: 10px;
}

#notice_help_panel p {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  line-height: 105%;
  padding-bottom: 10px;
}

.notice_panel button {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  line-height: 100%;
  height:90px;
  padding: 5px 20px 10px 20px;  
}

.notice_panel .other_help {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  height: 150px;
  padding: 5px 20px 10px 20px;
  width: 400px;
  margin-top: 10px;
}

#incomplete_vote_content {
  padding: 50px 150px 10px 150px;
}

#paper_voting_content {
  padding: 50px 150px 10px 150px;
}

#help_content {
  padding: 50px 150px 10px 150px;
}

#confirm_discard_content {
  width: 800px;
}

#more_help_content {
  padding: 50px 150px 10px 150px;
}

#other_help_content {
  padding: 50px 175px 10px 175px;
}

#incomplete_vote_info {
  width: 500px;
  padding: 20px; 
  margin-left: 20px; 
  margin-top: 10px; 
  float: left; 
  font-weight: bold;
}

#error_content {
  width: 800px;
}

#timeout_content {
  width: 800px;
}

#timeout_lock_content {
  width: 800px;
}

#timeout_unlock_content {
  width: 1000px;
}

.help_box {
  font-size: 1em;
}

.count_notice {
  font-size: 1em;
}

#assembly_ballot_content_inner {
  margin-top: 80px; 
  margin-bottom: 210px;  
}

#assembly_ballot_container {
  width: 900px;
  height: 600px;
}

#assembly_ballot_background {
  width: 900px;
  height: 720px;
}

#assembly_ballot_summary_background {
  width: 730px;
  height: 710px;
}

#council_ballot_summary_background {
  width: 730px;
  height: 710px;
}

#assembly_vote_not_counted, #council_vote_not_counted {
  font-size: 1em;
}

#assembly_ballot_summary_container {
  height: 600px;
}

#council_ballot_summary_container {
  height: 600px;
}

#two_ballot_layout {
    width: 1500px;
}

.language_button {
  font-size: 1em;
}

#review_left_div {
  font-size: 1em;
}

#ballot_container {
  font-size: 1em !important;  
}

.review_div_section_header {
  font-size: 1em !important;  
  width: 100%; 
  height: 180px; 
  padding-top: 10px; 
  padding-bottom: 0px;
  vertical-align: bottom;
}

.review_div_section_header p {
  font-size: 1em;
}

.assembly_section_header {
  height: 180px; 
}

.atl_section_header {
  height: 220px; 
}

.btl_section_header {
  height: 220px; 
}

.review_middle_dashed {
  height: 3500px;
}

.review_middle_front {
  padding-top: 480px; 
  padding-bottom: 0px; 
  height: 2500px;
}

#review_right_side {
  float: left; 
  width: 840px; 
  padding-left: 10px;
}

#review_left_side {
  float: left; 
  width: 450px; 
  height: 2500px;
}

#generated_qr_code {
  height: 250px; 
  width: 450px;
}

.ballot_header_info {
  font-size: 1em !important;  
}

.review_preference_selection {
  padding: 5px; 
  font-size: 1em;
  text-align: center;
  height: 42px;
}

.review_candidate_selection {
  padding: 5px; 
  font-size: 1em;
  text-align: left;
  overflow: hidden;
  height: 42px;
}

.review_box_border {
  border: 2px solid #ccc; 
  padding: 5px; 
  width: 75px; 
}

.receipt_candidate_name {
  font-size: 1em;
  padding: 5px;
  border: 2px solid;
  text-align: left;
}

.review_div_listing_top {
  height: 100%; 
  text-align: left;  
  overflow-x: hidden;   
}

#confirmation_message_box h1 {
  font-size: 1em;
  padding-bottom: 10px;
}

.review_atl_preferences {
  width: 69px;
  float: right;
  margin-right: 10px;
}

.arrow_button {

}

.down_button {
  font-size: 1em;
  line-height: 100%;
}


.up_button {
  font-size: 1em;
  line-height: 100%;
}

#assembly_screen_next_button_text {
  padding-left: 5px;
}

#council_screen_next_button_text {
  padding-left: 5px;
}

#assembly_ballot_up_section {
  height: 80px;
  margin-top: -600px;
  width: 100%;
}

#assembly_ballot_down_section {
  height: 80px;
  margin-top: -80px;
  width: 100%;
}

#assembly_button_scroll_up {
  bottom: 600px;
  left: 25px;
}

#assembly_button_scroll_down {
  bottom: 160px;
  left: 25px;
}

#assembly_ballot_summary_up_section {
  height: 80px;
  margin-top: -600px;
  width: 100%;
}

#assembly_ballot_summary_down_section {
  height: 80px;
  margin-top: -80px;
  width: 100%;
}

#assembly_summary_button_scroll_up {
  bottom: 600px;
  left: 15px;
}

#assembly_summary_button_scroll_down {
  bottom: 160px;
  left: 15px;
}

#council_ballot_summary_up_section {
  height: 80px;
  margin-top: -600px;
  width: 100%;
}

#council_ballot_summary_down_section {
  height: 80px;
  margin-top: -80px;
  width: 100%;
}

#council_summary_button_scroll_up {
  bottom: 600px;
  left: 15px;
}

#council_summary_button_scroll_down {
  bottom: 160px;
  left: 15px;
}

#more_help_button_scroll_up {
  bottom: 750px;
  left: 620px;
}

#more_help_button_scroll_down {
  bottom: 100px;
  left: 530px;
}

#paper_voting_modal_no_button {
  float: left; 
  margin-left: 25px; 
  width: 250px; 
  height: 100px;
}

#paper_voting_modal_yes_button {
  float: left; 
  margin-left: 25px; 
  width: 250px; 
  height: 100px;
}

.color_change_button {
  font-size: 1em; 
  width: 400px; 
}

#black_on_white_option {
  top: 5px;  
  right: 100px;
}

#white_on_black_option {
  top: 115px;
}

#color_option {
  top: 230px;  
  width: 300px;
}

#switch_to_audio_button {
  font-size: 1em;
  width: 750px;
}

#audio_switch_button {
  top: 235px;  
  width: 300px;
}

#audio_switch_button p {
  font-size: 1em;
}

#legislative_council_title {
  margin-top: 5px;
}

#more_help_content {
  height: 600px;
}

#start_button {
  width: 520px;
}

#assembly_instruction_title {
  width: 1200px;
}

#assembly_preference_selections_legal_order {
  margin-bottom: 100px;
}

#council_preference_selections_legal_order {
  margin-bottom: 100px;
}
