  <div id="keypad">
    <div id="button_1" title="Button 1" class="blind_button">1</div>
    <div id="button_2" title="Button 2" class="blind_button">2</div>
    <div id="button_3" title="Button 3" class="blind_button">3</div>
    <div id="button_4" title="Button 4" class="blind_button">4</div>
    <div id="button_5" title="Button 5" class="blind_button">5</div>
    <div id="button_6" title="Button 6" class="blind_button">6</div>
    <div id="button_7" title="Button 7" class="blind_button">7</div>
    <div id="button_8" title="Button 8" class="blind_button">8</div>
    <div id="button_9" title="Button 9" class="blind_button">9</div>
    <div id="button_10" title="Button 10" class="blind_button">*</div>
    <div id="button_11" title="Button 11" class="blind_button">0</div>
    <div id="button_12" title="Button 12" class="blind_button">#</div>
  </div>
  <div id="left_trigger">
    Press Here
  </div>
  <div id="right_trigger">
    Press Here
  </div>