<div id="ballot_help_modal_header" class="header" style="display: none; z-index: 301;">
  <div id="ballot_help_modal_title" style="float: left; padding: 8px;">
  </div>
</div>

<div id="ballot_help_modal_background" style="z-index: 301;">
</div>
<div id="ballot_help_modal_container" style="z-index: 302; display: none; position: absolute; top: 0; width: 100%">
  <center>
    <div id="ballot_help_modal_panel" class="notice_panel invert_color" style="overflow-y: scroll; overflow-x: hidden;">
      <div id="help_content">
        <div id="ballot_help_modal_message" class="invert_color internationalisation" style="text-align: left;">
        </div>
        <div style="width: 100%; padding-top: 25px; height: 60px; margin-bottom: 100px;">
          <div id="switch_to_audio_option" class="option_wrapper" style="top: 460px; left: 90px; height: 110px; max-width: 500px; -webkit-border-radius: 20px; border-radius: 20px; padding: 10px;">
            Change to AUDIO ONLY
          </div>

          <div id="clear_ballot_button" class="option_wrapper" style="top: 460px; left: 660px; height: 110px; max-width: 500px; -webkit-border-radius: 20px; border-radius: 20px; padding: 10px;">
            Clear my votes and start again
          </div>

          <div id="return_to_audio_button" class="option_wrapper" style="display: none; top: 600px; left: 450px; height: 70px; -webkit-border-radius: 20px; border-radius: 20px; padding: 10px;">
            RETURN TO AUDIO
          </div>
        </div>
      </div>
    </div>
  </center>
</div>

<div id="ballot_help_modal_footer" class="footer" style="display: none; z-index: 301;">
  <div id="ballot_help_modal_back_button" class="button" style="float: left;">
    Back
  </div>
</div>
