<div id="confirm_clear_ballot_modal_header" class="header" style="display: none; z-index: 304;">
  <div id="confirm_clear_ballot_title" style="float: left; padding: 8px;">
    Are you sure you want to clear this ballot?
  </div>
</div>

<div id="confirm_clear_ballot_modal_background" style="z-index: 303;">
</div>
<div id="confirm_clear_ballot_modal_container" style="z-index: 304; display: none; top: 0; position: absolute; width: 100%; height: 100%;">
  <div id="confirm_clear_ballot_modal_panel" class="notice_panel confirm_clear_ballot_notice_panel invert_color">
    <center>
      <div id="confirm_clear_ballot_content">
        <center>
        </center>
      </div>
    </center>
  </div>
</div>

<div id="confirm_clear_ballot_modal_footer" class="footer" style="display: none; z-index: 304;">
  <div id="confirm_clear_back_button" class="button" style="float: left;">
    Back
  </div>

  <div id="confirm_clear_ok_button" class="button" style="float: right;">
    Yes
  </div>
</div>