<div id="quit_confirmation_modal_header" class="header" style="display: none; z-index: 281;">
  <div id="quit_confirmation_title" style="float: left; padding: 8px;">Switch to voting for a single party or group</div>
</div>

<div id="quit_confirmation_modal_background">
</div>
<div id="quit_confirmation_modal_container" style="display: none; position: absolute; z-index: 280; top: 0px; width: 100%">
  <center>
    <div id="quit_confirmation_modal_panel" class="notice_panel invert_color">
      <p id="quit_confirmation_message" class="invert_color">
        You can quit from e-voting by pressing the Quit button below. Once you have quit, no e-votes will be recorded for you. You should put up your hand and ask for help and you will be offered a vote on a paper ballot.
      </p>
    </div>
  </center>
</div>

<div id="quit_confirmation_modal_footer" class="footer" style="display: none; z-index: 281;">
  <div id="quit_no_button" class="button" style="float: left;">
    Back
  </div>

  <div id="quit_yes_button" class="button" style="float: left; width: 600px; margin-left: 15%;">
    Quit and vote on paper
  </div>
</div>
