<div id="confirmation_modal_header" class="header" style="display: none; z-index: 281;">
  <div id="confirmation_modal_title" style="float: left; padding: 8px;">Switch to voting for a single party or group</div>
</div>

<div id="confirmation_modal_background">
</div>
<div id="confirmation_modal_container" style="display: none; position: absolute; z-index: 280; top: 0px; width: 100%">
  <center>
    <div id="confirmation_modal_panel" class="notice_panel invert_color">
      <span id="confirmation_modal_message" class="invert_color" style="text-align: left;">

      </span>
    </div>
  </center>
</div>

<div id="confirmation_modal_footer" class="footer" style="display: none; z-index: 281;">
  <div id="confirmation_modal_back_button" class="button" style="float: left;">
    Back
  </div>

  <div id="confirmation_modal_proceed_button" class="button" style="float: left; margin-left: 20%; width: 450px;">
    Switch
  </div>
</div>
