<div id="help_modal_header" class="header" style="display: none; z-index: 282;">
  <div id="help_modal_title" style="float: left; padding: 8px;">
  </div>
</div>

<div id="help_modal_background" style="z-index: 281;">
</div>
<div id="help_modal_container" style="z-index: 282; display: none; position: absolute; top: 0; width: 100%">
  <center>
    <div id="help_modal_panel" class="notice_panel invert_color" style="overflow-y: hidden; overflow-x: hidden;">
      <div id="help_content">
        <div id="help_modal_message" class="invert_color internationalisation" style="text-align: left;">
        </div>
      </div>
    </div>
  </center>
</div>

<div id="help_modal_footer" class="footer" style="display: none; z-index: 282;">
  <div id="help_modal_back_button" class="button" style="float: left;">
    Back
  </div>
</div>