<div id="reset_modal_background" style="z-index: 291;">
</div>
<div id="reset_modal_container" style="z-index: 292; display: block; position: absolute; top: 5px; width: 100%">
  <div id="reset_alert">
    <center>
      <div id="reset_modal_panel" class="notice_panel invert_color"
           style="overflow-y: scroll; overflow-x: hidden;">
        <div id="reset_content">
          <h1 id="reset_modal_title" class="invert_color internationalisation"
              style="text-align: center;">
            RESETTING FOR NEXT USER
          </h1>
          <p id="reset_modal_message" class="invert_color internationalisation"
             style="text-align: center; padding: 20px;">
            The computer is preparing to reset for the next user.
          </p>
          <p id="reset_countdown_message" class="invert_color"
             style="text-align: center; font-size: 60pt;">
            10
          </p>
          <div style="width: 100%; padding-top: 75px; float: left; height: 60px; margin-bottom: 100px;">
            <center>
              <button id="reset_modal_back_button" onclick="hideResetAlert();"
                      class="actionButtonRecolor internationalisation">CANCEL</button>
            </center>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>