  <div id="warn_user_voted" style="height: 900px; width: 100%; background-color: #000000;">
    <p id="scan_error_message_1" style="width: 90%; color: #FFFFFF; padding: 5px; font-size: 40pt; font-weight: bold; padding-top: 10px;">

    </p>
    <p id="scan_error_message_2" style="width: 90%; color: #FFFFFF; padding: 5px; font-size: 40pt; font-weight: bold;">

    </p>
    <p id="scan_error_message_3" style="width: 90%; color: #FFFFFF; padding: 5px; font-size: 40pt; font-weight: bold;">

    </p>
    <p id="scan_error_message_4" style="width: 90%; color: #FFFFFF; padding: 5px; font-size: 40pt; font-weight: bold;">

    </p>
    <p id="scan_error_message_5" style="margin-left: 400px; width: 500px; height: 130px; padding: 10px; font-size: 40pt; font-weight: bold; text-align: center; color: #FFFFFF; background-color: #000000; border: 3px solid #FFFFFF; border-radius: 18px;">

    </p>
    <div style="visibility: hidden;">
      <div id="secondary_qr_scan_plugin">
      </div>
    </div>
  </div>